.argos{
    position: absolute;
    left: 50px;
    top: 170px;
    min-height: 100px;
    height: auto;
    width: 350px;
    color: bisque;
    margin-bottom: 10px; 
    z-index: -1;
    display: none;
}
.brilla{
    position: absolute;
    left: 50px;
    top: 170px;
    min-height: 100px;
    height: auto;
    width: 350px;
    color: bisque;
    margin-bottom: 10px; 
    z-index: -1;
    display: none;
}
.corona{
    position: absolute;
    left: 50px;
    top: 170px;
    min-height: 100px;
    height: auto;
    width: 350px;
    color: bisque;
    margin-bottom: 10px; 
    z-index: -1;
    display: none;
}
.firplak{
    position: absolute;
    left: 50px;
    top: 170px;
    min-height: 100px;
    height: auto;
    width: 350px;
    color: bisque;
    margin-bottom: 10px; 
    z-index: -1;
    display: none;
}
.mazter{
    position: absolute;
    left: 50px;
    top: 170px;
    min-height: 100px;
    height: auto;
    width: 350px;
    color: bisque;
    margin-bottom: 10px; 
    z-index: -1;
    display: none;
}
.pavco{
    position: absolute;
    left: 50px;
    top: 170px;
    min-height: 100px;
    height: auto;
    width: 350px;
    color: bisque;
    margin-bottom: 10px; 
    z-index: -1;
    display: none;
}
.pintuco{
    position: absolute;
    left: 50px;
    top: 170px;
    min-height: 100px;
    height: auto;
    width: 350px;
    color: bisque;
    margin-bottom: 10px; 
    z-index: -1;
    display: none;
}
.raspaYgana{
    position: absolute;
    left: 50px;
    top: 170px;
    min-height: 100px;
    height: auto;
    width: 350px;
    color: bisque;
    margin-bottom: 10px; 
    z-index: -1;
    display: none;
}
.rotoplas{
    position: absolute;
    left: 50px;
    top: 170px;
    min-height: 100px;
    height: auto;
    width: 350px;
    color: bisque;
    margin-bottom: 10px; 
    z-index: -1;
    display: none;
}
.sigma{
    position: absolute;
    left: 50px;
    top: 170px;
    min-height: 100px;
    height: auto;
    width: 350px;
    color: bisque;
    margin-bottom: 10px; 
    z-index: -1;
    display: none;
}
.sika{
    position: absolute;
    left: 50px;
    top: 170px;
    min-height: 100px;
    height: auto;
    width: 350px;
    color: bisque;
    margin-bottom: 10px; 
    z-index: -1;
    display: none;
}
.sige{
    position: absolute;
    left: 50px;
    top: 170px;
    min-height: 100px;
    height: auto;
    width: 350px;
    color: bisque;
    margin-bottom: 10px; 
    z-index: -1;
    display: none;
}

.marco {
    top: -160px;
    width: 350px;
    height: auto;
    z-index: 1;
}

